@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    font-family:'Roboto', sans-serif;
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 753px;
}
.site__content {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    max-width: 1000px;
    padding: 0 5px;
}
.site__header {
    position: relative;
    height: 100px;
    background: red;
    z-index: 3;

}
.site__footer {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 753px;
    background-color: #080808;
}
.site__footer-layout {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: inherit;
    padding-top: 43px;
    text-align: center;
}
.site__footer-super,
.site__footer-popular,
.site__footer-menu{
    text-align: center;
}
.site__footer-layout li a{
    font-size: 18px;
    color: #999999;
}
.site__footer-layout li{
    margin-bottom: 4.5px;
}
.site__footer-layout li a:hover{
    color:#fff;
}
.site__footer-logo{
    position: relative;
    display: block;
    margin: 0 auto 26px;
    width: 141px;
    height: 142px;
}
.site__footer-logo img{
    width: 100%;
    height: 100%;
}
.site__footer-copyright{
    display: block;
    color: #999999;
    font-size: 18px;
}
.site__footer-top{
    position: relative;
    width: 100%;
    height: 45px;
    background: #0c0c0c;
}
/* --------------- /site --------------- */

/* --------------- social --------------- */
.social{
    position: relative;
    padding-top: 6px;
    margin-bottom: 22px;
}
.social-f{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../img/social-f.png") no-repeat center;
    background-size: contain;
    margin-right: 25px;
}
.social-t{
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url("../img/social-t.png") no-repeat center;
    background-size: contain;
    margin-right: 16px;
}
.social-g{
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background: url("../img/social-g.png") no-repeat center;
    background-size: contain;
    margin-right: 16px;
}
.social-in{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../img/social-in.png") no-repeat center;
    background-size: contain;
}
.social-f:hover{
    background: url("../img/social-f_h.png") no-repeat center;
    background-size: contain;
}
.social-t:hover{
    background: url("../img/social-t_h.png") no-repeat center;
    background-size: contain;
}
.social-g:hover{
    background: url("../img/social-g_h.png") no-repeat center;
    background-size: contain;
}
.social-in:hover{
    background: url("../img/social-in_h.png") no-repeat center;
    background-size: contain;
}
/* --------------- /social --------------- */

/* --------------- btn-up --------------- */
.btn-up {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 50px;
    background: url("../img/top_mobile.png") no-repeat;
    width: 86px;
    height: 103px;
    border-radius: 26px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
/* --------------- /btn-up --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- text --------------- */
.text{
    margin-bottom: 18px;
}
.text p{
    font-size: 13px;
    padding: 0 9px;
    color: #e5e5e5;
    line-height: 18px;
    text-align: center;
}
/* --------------- /text --------------- */
@media (min-width: 768px){

    .site__content {
        padding: 0 14px;
    }
    /* --------------- /site__footer --------------- */
    .site__footer{
        height: 556px;
    }
    .site__footer-layout {
        height: 506px;
    }
    .site:after {
        height: 556px;
    }
    .site__footer-top {
        height: 50px;
    }
    .site__footer-layout {
        padding-top: 43px;
    }
    .site__footer-layout li a{
        font-size: 18px;
    }
    .site__footer-logo{
        position: absolute;
        top: 45px;
        left: 14px;
    }
    .site__footer-menu {
        display: inline-block;
        vertical-align: top;
    }
    .site__footer-super{
        margin-bottom: 27px;
    }
    .site__footer-copyright {
        font-size: 16.5px;
    }
    /* --------------- /site__footer --------------- */

    /* --------------- social --------------- */
    .social {
        position: absolute;
        right: 1px;
        top: 23px;
    }
    /* --------------- /social --------------- */

    /* --------------- btn-up --------------- */
    .btn-up {
        background: url("../img/top.png") no-repeat;
        width: 178px;
        height: 265px;
    }
    /* --------------- btn-up --------------- */

    /* ---------------text --------------- */
    .text p {
        font-size: 18px;
        line-height: 22px;
    }
    /* --------------- /text --------------- */
}
@media (min-width: 1024px){

    /* --------------- site__footer --------------- */
    .site__footer,
    .site__footer-layout {
        height: 221px;
    }
    .site__footer-top {
        display: none;
    }
    .site:after {
        height: 221px;
    }
    .site__footer-layout {
        padding-top: 34px;
        text-align: left;
        padding-left: 146px;
    }
    .site__footer-popular{
        display: inline-block;
        vertical-align: top;
        margin-left: 35px;
    }
    .site__footer-super{
        display: inline-block;
        vertical-align: top;
        margin-left: 37px;
    }
    .site__footer-layout li a{
        font-size: 14px;
    }
    .site__footer-layout li{
        margin-bottom: 14px;
    }
    .site__footer-layout h2{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .site__footer-logo{
        top: 29px;
        width: 137px;
        left: 0;
    }
    .site__footer-menu {
        margin-left: 42px;
        text-align: left;
    }
    .site__footer-copyright {
        position: absolute;
        right: 0;
        bottom: 53px;
        font-size: 12px;
    }
    .site__footer-super, .site__footer-popular, .site__footer-menu {
        text-align: left;
    }
    /* --------------- /site__footer --------------- */

    /* ---------------text --------------- */
    .text{
        margin-bottom: 50px;
    }
    .text p {
        font-size: 14px;
        line-height: 24px;
        padding: 0 8px 0 177px;
        text-align: left;
    }
    /* --------------- /text --------------- */
}